/* Root section for CSS variables */
:root {
  --bs-primary: #39CCCC;
  --bs-primary-rgb: 57, 204, 204;
  --bs-secondary: #1D6666;
  --bs-secondary-rgb: 29, 102, 102;

  --background-color: #0A111F;
  --footer-background-color: #0C1826;
  --grey-background-color: #A7A7A7;

  --font-family: 'Poppins', sans-serif;
  --font-color: #F2F2F2;
  --font-color-rgb: 242, 242, 242;
}


/* Body section */
body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Menu section */
.menu {
  /* position: sticky; */
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: 25px auto;
  z-index: 99;
}

.menu a,
.footer-menu-item,
.email {
  color: var(--font-color);
  text-decoration: none;
  padding: 10px 25px;
}

.menu a:hover,
.footer-menu-item:hover {
  color: var(--bs-primary);
}

.footer-menu-item {
  padding: 10px 5px;
}

/* Home section */
.bg-home {
  position: absolute;
  top: -1%;
  width: 100%;
  z-index: -1;
}

#home h1 {
  font-weight: 500;
  font-size: 3rem;
}

#home h4 {
  color: rgba(var(--font-color-rgb), .45) !important;
  font-weight: 500;
}

/* UI */
h2.section-title {
  color: var(--bs-primary);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

h3.section-sub-title {
  color: var(--font-color);
  font-size: 1.3rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--font-color);
  padding: 5% 10%;
  border-radius: 3rem;
  background: #39CCCC17;
  box-shadow: 0px 5px 16.9px 0px #0F2330;

}

#technologies .card {
  min-height: 400px;
}

#technologies img {
  height: 128px;
}

#technologies .card,
#projects .card {
  margin-left: 2rem !important;
}

#projects .card {
  padding: 0;
}

.prjt-link {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.prjt-img {
  width: 100% !important;
  height: 255px !important;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

#footer {
  margin-top: 8rem !important;
  background-color: var(--footer-background-color);
  padding: 2.8rem 3.2rem;
}

.icon-account {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 100%;
  background-color: var(--grey-background-color);
}

.profile-icon {
  margin-right: auto;
}

.form-title {
  color: var(--bs-primary);
  font-size: 1.3rem;
  font-weight: 700;
}

.form-input {
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 8px 15px;
}

.form-input::placeholder {
  color: black;
  opacity: .5;
}

.separator {
  opacity: 1;
  background: var(--font-color);
}

.btn-primary {
  border: none;
  border-radius: 15px;
  color: var(--font-color);
  background: linear-gradient(163.37deg, var(--bs-primary) 9.63%, var(--bs-secondary) 97.22%);
  box-shadow: 0px 6px 15px 0px #39CCCC40;
  text-align: center;
  font-weight: 600;
  padding: 15px 25px;
}

.btn-primary:hover {
  background: linear-gradient(163.37deg, var(--bs-secondary) 9.63%, var(--bs-primary) 97.22%);
}

.btn-submit {
  border: none;
  border-radius: 45px;
  color: white;
  background: var(--bs-primary);
  box-shadow: 0px 8.13px 16.27px 0px #16A8C74D;
  text-align: center;
  font-weight: 500;
  padding: 8px 25px;
}

.btn-secondary {
  color: var(--bs-primary);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  padding: 15px 25px;
}

.btn-secondary:hover span {
  margin-right: .9rem !important;
  font-weight: 700;
}