/* Root section for CSS variables */
:root {
  --bs-primary: #39CCCC;
  --bs-primary-rgb: 57, 204, 204;
  --bs-secondary: #1D6666;
  --bs-secondary-rgb: 29, 102, 102;

  --background-color: #0A111F;
  --font-family: 'Poppins', sans-serif;
  --font-color: #F2F2F2;
  --font-color-rgb: 242, 242, 242;
}

/* Body section */
body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* Menu section */
.menu {
  /* position: sticky; */
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: 25px auto;
  z-index: 99;
}

.menu a {
  color: var(--font-color);
  text-decoration: none;
  padding: 10px 25px;
}

.menu a:hover {
  color: var(--bs-primary);
}

/* Home section */
.bg-home {
  position: absolute;
  top: -1%;
  width: 100%;
  z-index: -1;
}

#home h1 {
  font-weight: 500;
  font-size: 3rem;
}

#home h4 {
  color: rgba(var(--font-color-rgb), .45) !important;
  font-weight: 500;
}

/* UI */
h2.section-title {
  color: var(--bs-primary);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;

}

h3.section-sub-title {
  color: var(--font-color);
  font-size: 1.3rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--font-color);
  padding: 5% 10%;
  border-radius: 3rem;
  background: #39CCCC17;
  box-shadow: 0px 5px 16.9px 0px #0F2330;

}

#technologies .card {
  padding: 3% 4%;
  width: 28% !important;
}

.btn-primary {
  border: none;
  border-radius: 15px;
  color: var(--font-color);
  background: linear-gradient(163.37deg, var(--bs-primary) 9.63%, var(--bs-secondary) 97.22%);
  box-shadow: 0px 6px 15px 0px #39CCCC40;
  text-align: center;
  font-weight: 600;
  padding: 15px 25px;
}

.btn-primary:hover {
  background: linear-gradient(163.37deg, var(--bs-secondary) 9.63%, var(--bs-primary) 97.22%);

}

.btn-secondary {
  color: var(--bs-primary);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  padding: 15px 25px;
}

.btn-secondary:hover span {
  margin-right: .9rem !important;
  font-weight: 700;
}